# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Log files
*.log

# R Markdown
*.Rmd
*.html

# Data files
*.sqlite
*.gpkg
*.csv
data/raw/
data/processed/

# Archive folder
archive/

# Visual outputs
visuals/*.png
visuals/*.html
visuals/*.pdf
